
<ul>
  <% _.forIn(routes, function(route, key) { %>
    <li>
      <a href="<%= route.path %>"><%= route.title %></a>
      <% if (typeof route.routes !== 'undefined') { %>
        <ul>
          <% _.forIn(route.routes, function(subroute, k) { %>
          <li>
            <a href="<%= subroute.path %>">
              <%= subroute.title %>
              <% if (typeof subroute.disabled !== 'undefined') { %>
                FILE MISSING
              <% } %>
            </a>
          <% }) %>
        </ul>
      <% } %>
    </li>
  <% }) %>
</ul>
