
<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title><%= obj.title %></title>
  <meta name="author" content="<%= obj.author %>">
  <meta name="description" content="<%= obj.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (obj.stylesheets) { %>
    <% obj.stylesheets.map(function(stylesheet) { %>
      <link rel="stylesheet" href="<%= stylesheet %>">
    <% }) %>
  <% } %>
  <style>
    .border-2 { border-width: 2px }
  </style>
</head>
<body class="">

<div class="fixed top-0 left-0 bottom-0 px2 overflow-auto border-right border-2 border-darken-2 bg-aqua muted"
    style="box-sizing:border-box;width:20%">
  <%= include('header') %>
</div>

<div class="bg-fuchsia" style="margin-left:20%;">
  <div class="md-col-10 px2 py4 mx-auto">
    <%= body %>
  </div>
</div>

</body>
</html>
